##add 20190605 by xiaorong.ling.hz for task7819533 (smartlog 3.0)
#in pixi4-4 C, proinfo partition cannot mount in init_first_stage
# so device ready must wait after mount_all
on post-fs
    write /sys/smartlog/device_ready 1

#note recovery is start
on property:init.svc.recovery=running
    write /sys/smartlog/boot_status recovery

#in block encrypted, before password verify
on property:vold.decrypt=trigger_restart_min_framework
    write /sys/smartlog/boot_status min_framework

#android os start
on property:init.svc.zygote=running
    write /sys/smartlog/boot_status zygote_running

#boot completed, for FDE
on property:sys.boot_completed=1 && property:vold.decrypt=trigger_restart_framework
    write /sys/smartlog/boot_status boot_completed

#boot completed, for non encrypted
on property:sys.boot_completed=1 && property:ro.crypto.state=unencrypted
    write /sys/smartlog/boot_status boot_completed

#boot completed, for FBE
on property:sys.boot_completed=1 && property:ro.crypto.type=file
    write /sys/smartlog/boot_status boot_completed

#device unlock, for FDE
on property:vold.decrypt=trigger_restart_framework
    write /sys/smartlog/boot_status device_unlock

#device unlock, for non encrypted
on property:ro.crypto.state=unencrypted
    write /sys/smartlog/boot_status device_unlock

#android os restart
on property:init.svc.zygote=restarting
    write /sys/smartlog/subsystem_restart zygote_restart


#modem start will set init, reset, bootup, ready status.
#modem start, for non encrypted
on property:mtk.md1.status=bootup && property:ro.crypto.state=unencrypted
    write /sys/smartlog/subsystem_restart modem_bootup

#modem start, for FDE
on property:mtk.md1.status=bootup && property:vold.decrypt=trigger_restart_framework
    write /sys/smartlog/subsystem_restart modem_bootup

#modem start, for FBE
on property:mtk.md1.status=bootup && property:ro.crypto.type=file
    write /sys/smartlog/subsystem_restart modem_bootup


##rescue party information, write level_x to kernel
on property:sys.rescue_level=*
    write /sys/smartlog/system_status level_${sys.rescue_level}

# app crash or ANR, write app_x to kernel
on property:sys.smart.crash_type=*
    write /sys/smartlog/system_status app_${sys.smart.crash_type}

on property:vold.post_fs_data_done=1
    dump_free_space /data
#save userdata free size
on property:sys.smart.free_size=*
    write /sys/smartlog/system_status size_${sys.smart.free_size}

#save adb status
on property:persist.sys.usb.config=*
    write /sys/smartlog/system_status usb_${persist.sys.usb.config}

#save user setup completed status
on property:sys.smart.system_status=*
    write /sys/smartlog/system_status ${sys.smart.system_status}

#save system version
on property:ro.rom.yinfo=*
    write /sys/smartlog/system_status ver_${ro.rom.yinfo}
